.header-bg{
    background-color: #FFF9F4;
}

.penguin-navbar-brand img{
    width: 291px;
    margin-left: 30px;
}

.nike-react{
    padding-left: 200px;
    width: 60%;
}
.nike-react img{
    width: 60%;
}